<header class="navbar navbar-expand navbar-dark flex-column flex-md-row cp-navbar">
  <h4 class="mt-2">{{title}}</h4>
  <div class="navbar-nav mx-auto">
      <a class="nav-item nav-link" routerLink='/home' routerLinkActive="active">Tasks from JSON</a>
      <a class="nav-item nav-link" routerLink='/task-db' routerLinkActive="active">Tasks from API Calls</a>
  </div>
</header>
<div class="text-center mt-2 logo-container">
  <img src="../../../assets/banner.jpg" alt="" />
  <div class="angularLogo"><img src="../../../assets/angular.png" alt="" /> </div>
</div>