<div class="modal-header">
	<h4 class="modal-title">{{title.type}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<!-- Form -->
<div class="modal-body">
		<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label>Descsription : </label>
        <input [ngClass]="{ 'is-invalid': submitted && f.description.errors }" class="form-control" formControlName="description" name="description" />
      </div>
      <div class="form-group">
        <label>Status : </label>
        <div class="form-check">
          <input class="form-check-input" formControlName="status" type="radio" name="status" id="statusStart" value="Started">
          <label class="form-check-label" for="statusStart">
            Started
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" formControlName="status" type="radio" name="status" id="statusNotStart" value="Not Started">
          <label class="form-check-label" for="statusNotStart">
            Not Started
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>Priority : </label>
        <select class="form-control" name="priority" formControlName="priority" > 
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
          </select>
      </div>
      <button class="btn btn-primary btn-sm" [disabled]="taskForm.invalid" type="submit">{{title.type}}</button>
    </form>
</div>
<!-- Form End-->